*.dat
*.iml
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.xml
.idea
.project
.strong-pm
node_modules
npm-debug.log
env.json
built/*
logs/*
!logs/README.md
.env*
!.env.example
dump.rdb
firebase-cert.json
